<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <!-- Start of SimpleHitCounter Code -->
      <img src="https://simplehitcounter.com/hit.php?uid=123238945&f=0&b=16777215" border="0" height="18" width="83" alt="web counter">
    </div>
  </div>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">© 2021 Phelps Waterfowl. Site by <a href="https://pottsga.com">pottsga.com</a></span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/phelpswaterfowl/" target="_blank"><i class="bi bi-facebook"></i></a></li>
    </ul>
  </footer>
</div>
