<header class="py-3 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <img class="duck-logo" src="/static/img/call_duck_profile.png" alt="Logo">
      <span class="fs-4">{{site.title}}</span>
    </a>
  </div>
</header>

<div class="bg-light">
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light rounded">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item"><a href="/" class="nav-link link-dark px-2">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link link-dark px-2">About</a></li>
          <li class="nav-item"><a href="/contact" class="nav-link link-dark px-2">Contact</a></li>
          <li class="nav-item"><a href="/policy/sales" class="nav-link link-dark px-2">Sales Policy</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link link-dark dropdown-toggle px-2" href="#" id="photos-dropdown" data-bs-toggle="dropdown" aria-expanded="false">Photos</a>
            <ul class="dropdown-menu" aria-labelledby="photos-dropdown">
              <li><a class="dropdown-item" href="/photos/animals">Animals</a></li>
              <li><a class="dropdown-item" href="/photos/farm">Farm</a></li>
              <li><a class="dropdown-item" href="/photos/barn">Barn Setup</a></li>
            </ul>
          </li>
          <li class="nav-item"><a href="/faqs" class="nav-link link-dark px-2">FAQs</a></li>
        </ul>
      </div>
    </nav>

  </div>
</div>
